.faq_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F4FB;
  /* height: 1373px; */
  width: 100%;
  border-radius: 200px 0 0 0;
}

.faq_div {
  max-width: 1090px;
  width: 100%;
  margin: 75px 0 95px;
}

.faq_title {
  margin-bottom: 26px;
}

.faq_card {
  border-radius: 15px !important;
  width: 100%;
  margin: 10px 0;
}

.faq_cardHeader {
  display: flex;
  align-items: center;
  height: 66px;

  color: #282154;
  font-size: 22px;

  cursor: pointer;
  transition: .1s ease;
}

.faq_cardHeader:hover {
  background-color: #f5f5f5;
}

.faq_dropIcon {
  margin: 0 15px 0 30px;
}

.faq_cardBody {
  padding: 0 35px;
}

.faq_txtCardBody {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #272E4F;
}

@media (max-width: 768px) {
  .faq_section {
  border-radius: 100px 0 0 0;
  }
  
  .faq_div {
    max-width: 80%;
  }

  .faq_cardHeader {
    height: auto;
    font-size: 15px;
  }

  .faq_txtCardBody {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .faq_div {
    max-width: 80%;
  }

  .faq_cardHeader {
    height: auto;
    font-size: 20px;
  }

  .faq_txtCardBody {
    font-size: 15px;
  }
}