.mediator_section {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F2F4FB;
  width: 100%;
  height: 681px;
  border-radius: 200px 0 200px 0;
}

.back_circulo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mediator_text {
  max-width: 380px;
  margin-left: 416px;
}

.mediator_title {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .mediator_section {
    display: flex;
    flex-direction: column;
    height: 500px;
  border-radius: 100px 0 100px 0;

  }

  .mediator_text {
    max-width: 300px;
    margin: 60px 0;
  }

  .mediator_title {
    margin-bottom: 22px;
  }

  .back_circulo {
    max-width: 369px;
  }
}