@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Mulish&display=swap&&family=Roboto&display=swap&family=Roboto:wght@300&display=swap');

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 66px;
  font-weight: 300;
}

h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: 300;
  color: #0B1F62;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #0B1F62;
}

h5 {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  font-weight: 300;
  color: #AA2972;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

button {
  cursor: pointer;
}

a{
  transition: .13s ease;
}

a:hover {
  opacity: .8;
}

p.page_text {
  color: #17022D;
  font-weight: 400;
}